{% extends 'base.html' %}

{% block title %}Atualizar etapa{% endblock %}

{% block content %}
<div class="container mx-auto py-2">
  <div class="row g-2">
    <div class="col-12">
      <form  method="post">
        {% csrf_token %}
        <h2>Remover etapa? </h2>
        <p>Deseja prosseguir com a exclusão da etapa "{{ etapa.nome }}" do fluxo "{{ etapa.fluxo.nome }}"?</p>
        <a href="{% url 'flows:detalhes_fluxo' pk=etapa.fluxo.id %}" class="btn btn-secondary">Cancelar</a>
        <button type="submit" class="btn btn-danger">Remover</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
