* {

    padding: 0;
    font-family: 'Nunito', sans-serif;
    
}

.menu {
    padding: 10px !important;
}

/* Template da página de Home  */

.home_project {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.home_project a {
    text-decoration: none;
    background-color: #42ACF0;
    padding: 10px;
    color: whitesmoke;
    width: fit-content;
}

.home_project a:hover {
    color: whitesmoke;

}

.group_buttons {
    display: flex;
    gap: 10px;
}

.filter_project_form {
    display: none;
}

.filter_project_input {
    width: 80%;
    border: none;
    border-bottom: 1px solid #42ACF0;
    outline: none;
    padding-bottom: 5px;
    background-color: transparent;
    animation-name: filter_project_input;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes filter_project_input {
    from {
        margin-top: 0px;
        opacity: 0;
    } 

    to {
        margin-top: 10px;
        opacity: 1;
    }
}

/*  Template de listagem dos projetos */

.list_all_projects {
    padding: 20px;
}

.list_button_group {
    display: flex;
    width: 100%;
    align-items: right;
    justify-content: right;
    gap: 10px;
}

.list_button_group button {
    border: 1px solid grey;
    background-color: transparent;
    margin-bottom: 10px;
    padding: 10px;
    width: 50px;
    border-radius: 8px;

}

.icon_trash , .icon_edit {
    color: grey;
}
/* Template de adicionar projeto */

.project_add_form {
    padding: 20px;
    display: flex;
    flex-direction: column
}

.project_add_form p {
    display: flex;
    flex-direction: column;
}

.project_add_form p input, textarea, select {
    border: 1px solid grey;
    outline: none;
    text-indent: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
}

.save_project_button {
    background-color: green;
    border: none;
    width: fit-content;
    padding: 10px;
    color: #fff;
    cursor: pointer;
}